/* style.css */

/* General Styles */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
}

/* Header Styles */
header {
    background-color: #969eab;
    color: #121212;
    padding: 15px 0;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

/* Caption Styles */
.caption {
    text-align: center; 
    font-size: 14px; 
    color: #555;
    margin-top: 5px;
}

.media-container {
    display: inline-block; /* Makes the media (image/iframe) inline */
    text-align: center; /* Centers the media itself */
    margin: 20px; /* Adds some spacing around the media */
}

/* Home Page Styles */
.home-content {
    display: flex;
    flex-wrap: wrap;
}

.home-content .about-me {
    flex: 1;
    min-width: 300px;
    padding-right: 10px;
}

.home-content .profile-pic {
    flex: 1;
    min-width: 400px;
}


.home-content img {
    max-width: 100%;
    height: auto;
}

/* Design Posts Styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
}

/* Projects Page Styles */
.project-template {
    margin-bottom: 40px;
}

.project-template h3 {
    margin-top: 0;
}

.project-template img,
.project-template video {
    max-width: 100%;
    height: auto;
}

.projects-grid {
    display: grid;
    gap: 10px;
    width: 50%; /* You can change this value based on how wide you want the grid */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates columns with a minimum size of 250px per item */
}

.projects-grid img {
    width: 100%; /* Ensures the image takes up the full width of its grid cell */
    object-fit: contain; /* cover vs contain? */
}

/* Photography Page Styles */
.photos-grid {
    display:grid;
    gap:10px;
    width:100%;
}

.photos-grid.vertical {
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 10px;
}

.photos-grid.vertical img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photos-grid.horizontal {
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 10px;
}

.photos-grid.horizontal img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Music Page Styles */
.music-template {
    margin-bottom: 40px;
}

.music-template h2 {
    margin-top: 0;
}
