/* style.css */

/* General Styles */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8EEE7;
    color: #49274A;
}

.alt-color-section {
    width: 100%;
    background-color: #F4DECB;
    padding: 15px 0; 
    box-sizing: border-box;
}

.alt-color-section .container {
    width:80%;
    margin: 0 auto;
    padding: 15px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

/* Link Styles */
a {
    color: #94618E; /* Light purple for links */
    text-decoration: underline;
}

a:hover {
    color:#49274A; /* Dark purple when highlighted */
}


/* Header Styles */
header {
    background-color: #94618E;
    color: #49274A;
    padding: 15px 0;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    align-items: center;
}

header h1 {
    color: #49274A;
    margin: 0;
    font-size: 28px;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #49274A;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

/* Caption Styles */
.caption {
    text-align: center; 
    font-size: 14px; 
    color: #693e6a;
    margin-top: 5px;
}

.media-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

/* Home Page Styles */
.home-content {
    display: flex;
    flex-wrap: wrap;
}

.home-content .about-me {
    flex: 1;
    min-width: 300px;
    padding-right: 10px;
}

.home-content .profile-pic {
    flex: 1;
    min-width: 500px;
    width: 60%;
}

.home-content img {
    max-width: 100%;
    height: auto;
}

/* Design Posts Styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #49274A;
}

.table th {
    background-color: #F8EEE7;
}

/* Projects Page Styles */
.project-template {
    margin-bottom: 40px;
}

.project-template h3 {
    margin-top: 0;
}

.project-template img,
.project-template video {
    max-width: 100%;
    height: auto;
}

.projects-grid {
    display: grid;
    gap: 10px;
    margin-left: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
}

.projects-grid img {
    width: 100%; /* Ensures the image takes up the full width of its grid cell */
    object-fit: contain; /* cover vs contain? */
}

/* Photography Page Styles */
.photos-grid {
    display: grid;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.photos-grid .vertical {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.photos-grid .horizontal {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.photos-grid img {
    width: 100%;
    object-fit: contain;
}

/* Music Page Styles */
.music-template {
    margin-bottom: 40px;
}

.music-template h2 {
    margin-top: 0;
}
